<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_6aHPO1tEfo2my6xi5q2TpQa-WoB90I0</string>
	<key>GCM_SENDER_ID</key>
	<string>942152496560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blocfirebase-edecf</string>
	<key>STORAGE_BUCKET</key>
	<string>blocfirebase-edecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942152496560:ios:64860b64fdf7198d5cd275</string>
</dict>
</plist>